.signin,.signup{
    
    background: silver;

}

.form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
   
}
.form > input{
    padding: .5rem 1rem;
}
.article_flex{
    display: flex;
    flex-direction: column;
   
   
}
.article_flex > header {
    text-align: center;
    background: lavenderblush;
}
.article_flex > header  > h1{
    color: #223;
}
.article_flex > section {
    background: rgb(97, 97, 97);
    padding: 1rem;
}
.article_flex > footer {
    background: rgb(31, 30, 30);
    padding: 1rem;
}
.article_flex > footer > div{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.hAccount{
    background: silver;
    display: grid;
    grid-template-columns: 1fr 1fr;
 
}
.btnProfile, .btnToken{
    border-radius: none;
    border: none;
    padding: 1rem;
    font-weight: 800;
}
.btnProfile:hover,.btnToken:hover{
    background: transparent;
    cursor: pointer;
}
pre{
    background: rgb(28, 28, 29);
    padding: 1rem;
 
    text-align: justify;
    overflow-y: hidden;
    overflow-x: scroll;
    font-weight: 900;
    font-size: 1.2rem;
   
}
/* pre::-webkit-scrollbar{
    height: 3mm;
    background: transparent;
}
pre::-webkit-scrollbar-thumb{
    width: 0;
    background: rgb(216, 202, 11);
} */
