header.mainHeader{
    display:  grid;
    grid-auto-flow: column;
    background: lavenderblush;
}
.module {
     display:  flex;
     place-items: center;
     column-gap: 1rem;
     padding: 0 1rem;
}
.fStart{
    justify-content: flex-start;
}
.fEnd{
    justify-content: flex-end;
}